.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: rgb(31, 31, 31);
}

.button {
    height: 10vh;
    margin: 20px;
    width: 90vw;
    color: azure;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    outline: none;
    border: none;
    border-radius: 20px;
}

.image {
    display: block;
    max-height: 50vh;
    max-width: 90vw;
    height: auto;
    width: auto;
    object-fit: contain;
}

.imageCont {
    display: flex;
    height: 50vh;
    padding: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info {
    color: azure;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}   

.warning {
    color: azure;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    text-align: center;
}

.warning1 {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px;
    margin: 10px;
    outline: none;
    border: none;
}
